{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div id="add_password_modal" class="text-center">
  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
          <h3 class="modal-title" id="exampleModalLabel">
            New Password Form
          </h3>
          <p>Please provide the following details to implement a new password.</p>
        </div>
        <form
          id="add_password_form"
          action="/add_password"
          method="POST"
        >
          <meta name="csrf-token" content="{{ csrf_token() }}">
          <div class="modal-body justify-content-center align-items-center">
            <div class="row" style="display: flex;justify-content: center;">
              <div class="col">
                <div class="form-group">
                  <label for="label">Label</label>
                  <input
                    id="label"
                    type="text"
                    class="form-control"
                    name="label"
                    aria-describedby="label"
                    placeholder="e.g. Facebook"
                    required
                  />
                </div>
              </div>
              &nbsp; &nbsp; &nbsp; &nbsp;
              <div class="col">
                <div class="form-group">
                  <label for="password">Password</label>
                  <input
                    id="password"
                    type="password"
                    class="form-control"
                    name="password"
                    aria-describedby="password"
                    placeholder="Secure Password"
                    required
                  />
                </div>
              </div>
            </div>
            <div class="row" style="display: flex;justify-content: center;">
              <p><strong>or</strong></p>
            </div>
            <div class="row" style="display: flex;justify-content: center;">
              <input type="checkbox" id="generate_password_checkbox" aria-label="Checkbox for following text input">&nbsp;<p>Generate a Secure Password for me.</p>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <button id="add_password_btn" type="button" class="btn btn-primary">
              Add
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div style="text-align: center;">

    <div class="jumbotron">
        <h1 class="display-4">Your Password Portal</h1>
        <p class="lead">View existing passwords or create new ones. </p>
        <hr class="my-4">
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table" id="labels_table">
          <thead>
            <tr>
              <th scope="col" class="text-center">#</th>
              <th scope="col" class="text-center">Label</th>
              <th scope="col" class="text-center">Password</th>
            </tr>
          </thead>
          <tbody id = "labels_list">
            {% for label in user_data %}
            <tr id="{{label}}">
                <td>{{user_data.index(label) + 1}}</td>
                <td>{{label}}</td>
                <td><button class="view_password_btn" type="button" name="{{label}}">VIEW PASSWORD</button><button class="del_password_btn" type="button" name="{{label}}">DELETE</button></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
        <br>
        <br>
        <a class="btn btn-primary btn-lg" href="#" role="button" data-toggle="modal" data-target="#exampleModal">Add New Password</a>
      </div>

</div>    

{% endblock %}
