<header class="header_nav">
  <img src="./static/css/main_page_imgs/logo.png" class="logo" />

  <nav>
    <ul>
      <li><a href="index">Home</a></li>
      <li><a href="about">About</a></li>
      <li><a href="leaderboard">Leaderboard</a></li>
      <li><a href="">Sign Up</a></li>
    </ul>
  </nav>
</header>
