.row {
    display: flex;
}
  
.labels_col, .passwords_col {
  flex: 50%;
}

.my-custom-scrollbar {
  position: relative;
  height: 200px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

.view_password_btn{
  margin-right: 5px;
  background-color: white;
  color: black;
  border: 2px solid #4CAF50; /* Green */
  transition-duration: 0.4s;
}

.view_password_btn:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.del_password_btn{
  background-color: white;
  color: black;
  border: 2px solid red; /* Green */
  transition-duration: 0.4s;
}

.del_password_btn:hover {
  background-color: red; /* Green */
  color: white;
}

/*
tr {
  width: 100%;
  display: inline-table;
  table-layout: fixed;
  }
  
  table{
   height:200px;              
  }

  tbody{
    overflow-y: scroll;      
    height: 200px;        
    position: relative;
  }
  */