body {
  text-align: center;
  background: #222;
  color: white;
  font-family: "Arial Black", sans-serif;
  background-size: cover;
  background-position: center;
  bottom: 0;
  margin: 0;
  position: relative;
  min-height: 100%;
  height: 100%;
}
html {
  height: 100%;
}

.row {
  display: flex;
  /*background-color: #8e8a8a;*/
  height: 100%;
}
.generator_form {
  flex: 50%;
  margin-left: 280px;
  margin-right: 100px;
  font-family: helvetica;
}

.recommended_vids {
  flex: 50%;
  margin-right: 100px;
  font-family: helvetica;
}

h1 {
  text-align: center;
  vertical-align: top;
  font-size: 28px;
}

input {
  float: left;
  padding: 8px 20px;
  width: 250px;
  margin: 10px 0;
  background: #7a7c7a;
  border: 2px;
  border-radius: 4px;
}

#generate_button {
  position: relative;
  margin-top: 5px;
  margin-right: 315px;
}

#border_img1 {
  border: 5px solid transparent;
  padding: 3px;
  border-image: url("./main_page_imgs/border-image-6.svg") 25 round;
}

header {
  background: black;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  width: 100%;
  position: relative;
  clear: both;
  background-color: black;
  bottom: 0;
  padding: 40px 0px;
  margin-top: 100px;
  text-align: center;
}

footer nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer nav li {
  margin-right: 200px;
  padding-bottom: 10px;
  position: relative;
  display: inline-block;
}

footer a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 14px;
  color: white;
}

footer a:hover {
  color: #e05414;
}

.logo {
  float: left;
  width: 100px;
  height: 50px;
  padding: 15px 0px;
}
/* Side Navigation Bar Styling */
.sidenav {
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 230px;
  left: 75px;
  background: #7a7c7a;
  overflow-x: hidden;
  padding: 8px 0;
  border: 2px;
  border-radius: 4px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 14px;
  color: white;
  display: block;
}

.sidenav a:hover {
  color: #e05414;
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/* Top Navigation Bar Styling */

.header_nav nav {
  float: right;
}
.header_nav nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header_nav nav li {
  display: inline-block;
  margin-right: 100px;
  padding-top: 10px;
  position: relative;
}

.header_nav nav li::before {
  content: url("./main_page_imgs/small_fire.gif");
}
.header_nav nav li::after {
  content: url("./main_page_imgs/small_fire.gif");
}

.header_nav nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.header_nav nav a:hover {
  color: white;
}

.header_nav nav a::before {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

.header_nav nav a:hover::before {
  width: 100%;
}

/* Submit Button Styling */
input[type="submit"] {
  background: red;
  color: white;
}

input:focus {
  background-color: yellow;
}

iframe {
  border: 5px solid white;
}
