.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bodyContainer{

  margin-top: 5vh;
}

article p {
  font-size: calc(10px + 1vw);
}

ol li{
  font-size: calc(9px + 1vw);
  margin: 25px 0;
}

hr{
  width: 65%;
}

@media only screen and (max-width: 600px){

  article p {
      font-size: 20px;
  }

  ol li{
    font-size: 20px;
  }

  article {
      width: 85% !important;
  }

  hr{
      width: 85% !important;
  }

  .blogImg{
    width: 50% !important;
    height: auto !important;
  }
}